body{
    background-color:  rgb(255, 255, 255);
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header { 
    margin-top: -1em;
}

h1 {
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
   
}

h2 { 
    padding-left: 1%;
    padding-top: 1em;
}

p { 
    padding:1em;
    font-size: larger;
}

strong{
    font-size: x-large;
    padding-bottom: 1em;
}

div {
    display: flex;
}

.index {
 padding: 5em 8em 5em 8em;
 margin-top: 4em;
 margin-left: 3em;
 margin-right: 3em ;
 margin-bottom: 4em;
 justify-content: center;
 border-style: solid;
 border-radius: 3em;
 border-color: rgb(75, 75, 75);
 text-align: center;

}

.white-bg-p {
    background-color: rgb(241, 254, 255);
    display: flex;
    margin-left: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 1em;
    justify-content: center;
    border-style: solid;
    border-color: rgb(219, 219, 219);
    border-radius: 2em;
}

.color-bg-bereikbaarheid {
    background-color: rgb(241, 255, 255);
    opacity: 0.9;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 7em;
    justify-content: center;
    flex-direction: column;
    padding: 3em 3em 3em 3em;
    border-style: solid;
    border-radius: 3em;
    border-color: rgb(219, 219, 219);
    width: 20em;
}

.wide-cards-bereikbaarheid{
    display: flex;
    justify-content: center;
    align-items: center;  
    padding-bottom: 1em;
}

.scroll-container {
    overflow: auto;
    white-space: nowrap;
    padding: 2em;
    margin-bottom: 3em;
  }

.white-bg-ilha {
    background-color: rgb(239, 221, 221);
    display: flex;

}

article {
    margin-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}


.white-bg-suppen-vismarkt {
    background-color: rgb(241, 255, 255);
    padding: 1em;
    display: flex;
    border-style:solid ;
    border-radius: 2em;
    border-color: rgb(219, 219, 219);
    margin: 2em ;
}

.bereikbaarheid-bg-image {
    background-image: url(img/kaart4.jpeg);
    background-size:cover;
    margin-bottom: 1.5em;
}

section img { 
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1em;
 }

a:hover, a:active {
    color: grey;
}
 
ul { 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 4em;
}


nav { 
    background-color: #f2f2f2;
}


ul li { 
    font-size: smaller;
    line-height: 6em;
    justify-content: center;
}

ul li a { 
    display: block;
    text-decoration: none;
    font-size: 1.4em;
    color: #1e1e1e;
}


footer {
    background-color: rgb(181, 181, 181);
    color: white;
    padding-bottom: 1em;
    padding-right: 3em;
    justify-content: center;
    text-align: center;
    gap: 1em;
    display: flex;
}



