body{
    background-color: rgb(201, 242, 255);
    margin-left: 0;
    margin-right: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
   
}

header { 
    /* margin: -1em; */
    margin-top: -1em;

}

h2 { 
    padding-left: 1%;
    padding-top: 1em;
}

p { 
    padding:1em;
    font-size: larger;
}

div {
    display: flex;
   
   
}

.index {
    background-image: url("./img/Praia.do.barril!.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.white-bg {
    background-color: rgb(234, 251, 255);
    display: flex;
    margin-left: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 1em;
    justify-content: center;
}

.white-bgmustdos {
    background-color: rgb(239, 251, 255);
    display: flex;
    margin-right: 1em;
    margin-left: 1em;
    justify-content: center;
    flex-direction: column;
    gap: -1em;
    padding: 3em 3em 3em 3em;
}

.scroll-container {
   
    overflow: auto;
    white-space: nowrap;
    padding: 2em;
  }


section h3 {
    display: inline;
    justify-content: space-around;
}


/* section p {
    padding-left: 1em;
    display: flex;
} */

section img { 
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1%;
   
 }

h1 {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1em;
    text-align: center;
}
a:hover, a:active {
    color: grey;
}


ul { 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 4em;
    
}


nav { 
    width: 100%;
    background-color: #fff;
}


ul li { 
    list-style: none;

    line-height: 6em;
    justify-content: center;
}

ul li a { 
    display: block;
    text-decoration: none;
    font-size: 1.4em;
    color: #1e1e1e;
   

}






